# -*- mode: sh; -*-
# (rootdir)/.envrc : direnv configuration file
# see https://direnv.net/
# pyversion=$(head .python-version)
# pvenv=$(head     .python-virtualenv)
pyversion=3.6.8
pvenv=escrape

use python ${pyversion}
layout virtualenv ${pyversion} ${pvenv}
layout activate ${pvenv}-${pyversion}

export DJANGO_SECRET_KEY='(testtest)testtest@testtest%%'
